<h2 class="content-block">Inicio</h2>

<div class="content-block">
  <div class="dx-card responsive-paddings">
    <h6>
      Gracias por usar nuestra aplicación de Facturación
      <br>
      <small>Esta aplicación cuenta con dos opciones</small>
    </h6>

    <p>
      <dx-button type="default" icon="money" text="Inicia con facturación" (onClick)="navigateToFacturacion()"></dx-button>
    </p>
    <p>
      <dx-button type="success" icon="chart" text="Inicia con los reportes" (onClick)="navigateToReportes()"></dx-button>
    </p>
    
  </div>
</div>